<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 

    <div class="container-fluid">

    <div class="row">
        <div class="col  text-center mt-5">
            <h1 class="my-5" ><strong>University issuer test</strong></h1>
        </div>
    </div>


    <div id="content_desktop" class="d-none d-sm-block"  style="background-color: {{page_background_color}} " >
      <div id="wrapper">
          <div class="d-flex flex-column">
              <div class="container">
                  <div class="row d-flex justify-content-center ">    
                      <div class="col-4">
                  <div class="card shadow o-hidden border-0 mt-5" style="border-radius: 4%; background-color: {{qrcode_background_color}}" >
                              <div class="card-body p-0">
                                  <div id="id_text" class="p-5">
                                      <form class="user" action="/" method="POST">                                        
                                          <button class="border border-secondary btn btn-block  btn-user"style="background-color: {{page_background_color}} " type="submit">Get your Diploma</button>
                                      </form>                                             
                                  </div>        
                              </div> 
                          </div>
                      </div>
                  </div>
              </div>           
          </div>
      </div>
  </div>

   

</div>

                 
       
   


              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>