<!DOCTYPE html>
<!-- home.html-->
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
      
    {% include 'saas_nav_bar.html' %} 

    <div class="container-fluid">

    <div class="row">
        <div class="col  text-center mt-5">
            <h1 class="my-5" ><strong>Great you have now your Diploma !</strong></h1>
        </div>
    </div>


   
  </div>

   

</div>

                 
       
   


              <script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
              <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
              <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>